html, body {
  background-color: rgba(100,0,0,0.5);
  background-image: url('/img/back-pattern.png');
  text-align: center;
  height: 100%;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#gamearea, #hiddenGameArea {
  font-family: monospace;
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 500px;
  height: 500px;
  background-color: black;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba(255,255,255,0.3);
  cursor: default;
}
#gamearea {
  background-image: url('/img/asfalt-light.png');
  top: -400px;
}
.circle {
  background-color: orange;
  position: absolute;
  width: 0;
  height: 0;
}
#gamearea .circle {
  background-image: url('/img/dark-stripes-light.png');
}
#yourClicker {
  background-color: white;
  position: absolute;
  width: 0;
  height: 0;
  /*display: none;*/
  z-index: 10000000;
}

#statusPanel {
  position: absolute;
  top: 0;
  left: 25px;
  width: 450px;
  height: 180px;
  z-index: 100000000;
  text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 45px;
}
#rulesPanel {
  position: absolute;
  top: 190px;
  left: 46px;
  width: 400px;
  z-index: 100000000;
  text-align: left;
  padding: 0px;
  color: white;
  font-size: 23px;
  border: 3px solid white;
  border-radius: 20px;
  display: none;
}
#rulesPanel li {
  margin: 0px 15px 10px 20px;
}
#roomChooser {
  position: absolute;
  top: 100px;
  left: 46px;
  width: 400px;
  z-index: 100000000;
  text-align: center;
  padding: 0px;
  font-size: 33px;
  display: none;
}
#roomChooser button {
  border-radius: 5px;
  margin-bottom: 24px;
  background-color: white;
}
#roomChooser #customText {
  display: none;
  height: 45px;
}
#roomChooser li * {
  display: inline-block;
  vertical-align: middle;
}
#roomChooser #customRoomName {
  height: 45px;
  width: 150px;
  border: 1px solid navy;
  text-align: center;
}
#roomChooser input[type='button'] {
  height: 45px;
  border: 1px solid navy;
  border-left: 0;
  border-radius: 0 10px 10px 0;
}
#bottomStatus {
  position: absolute;
  bottom: 4px;
  left: 0px;
  height: 20px;
  width: 500px;
  z-index: 100000000;
  text-align: center;
  font-size: 14px;
  color: white;
  font-style: italic;
  letter-spacing: 3px;
  display: none;
}
#ticker {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 15px;
  color: white;
  z-index: 10000000;
}

#hiddenGameArea {
  background-image: url('');
}
