html, body {
  background-color: rgba(100,0,0,0.5);
  background-image: url('../img/back-pattern.png');
  text-align: center;
  /*transform: scale(1.3);*/
}
hr {
  margin: 0;
  border: 1px dashed rgba(10,10,10,0.4);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#splashscreen {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  margin-top: 10%;
  padding: 10% 5%;
  background-color: rgba(255,255,255,0.6);
  z-index: 1000;
}
#topArea {
  margin: 0 auto;
  width: 500px;
  position: relative;
  top: 100px;
  left: -50px;
  background-color: rgba(255,255,255,0.34);
  border-radius: 10px 5px 0px 0px;
  color: black;
  text-decoration: underline;
  text-align: left;
  font-family: monospace;
  padding: 10px 6px 10px 12px;
  font-size: 110%;
  height: 45px;
  overflow: visible;
  display: none;
}
#consoleMessage {
  font-size: 115%;
  color: yellow;
  margin: 0px 10px 0px 40px;
  font-variant: small-caps;
  text-decoration: none;
  float: right;
}
#gamearea, #hiddenGameArea {
  font-family: monospace;
  margin: 0;
  position: absolute;
  /* top: 100px; */
  /* left: -50px; */
  top: 3vw;
  width: 100vw;
  height: 100vw;
  background-color: black;
  overflow: hidden;
  /*box-shadow: 4px 4px 20px rgba(255,255,255,0.3);*/
  cursor: default;
  display: none;
}
#bottomStatus, #statusPanel, #ticker {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
#gamearea {
  background-image: url('../img/asfalt-light.png');
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.circle {
  background-color: orange;
  position: absolute;
  width: 0;
  height: 0;
}
#gamearea .circle {
  background-image: url('../img/dark-stripes-light.png');
}
#yourClicker {
  background-color: white;
  position: absolute;
  width: 0;
  height: 0;
  /*display: none;*/
  z-index: 10000000;
}
#yourCursor {
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  width: 0;
  height: 0;
  /*display: none;*/
  z-index: 9999;
}
#highScorePanel {
  position: absolute;
  top: 100vw;
  left: 8vw;
  width: 84vw;
  height: 70vw;
  z-index: 10000000;
  text-align: center;
  padding: 40px 10px 0px;
  font-size: 25px;
  color: black;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255,255,255,0.9);
  background-image: url('../img/binding-light.png');
}
#highScorePanel h2 {
  margin-bottom: 0;
}
#highScorePanel select {
  display: block;
  text-align: center;
  margin: auto;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: bold;
}
#highScorePanel i {
  text-align: center;
  font-size: 10px;
}
#highScorePanel table {
  width: 100%;
  background-color: rgba(255,255,255,0.6);
}
#highScorePanel th, #highScorePanel td {
  border: 1px solid black;
  height: 29px;
}
#highScorePanel tr.selected-hs td {
  background-color: lightblue;
}
#highScorePanel tbody td:nth-child(5) {
  color: grey;
  font-style: italic;
}
#highScorePanel #closeHS {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  color: black;
  padding: 0px 8px;
  font-size: 36px;
  background-color: white;
  cursor: pointer;
}
#highScorePanel #closeHS:hover {
  color: red;
  border: 1px solid red;
}
#loginScreen {
  /* position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 350px; */
  z-index: 10000000;
  text-align: center;
  padding: 0px;
  font-size: 36px;
  display: none;
  color: white;
  margin-top: 15vw;
}
#loginScreen #setUserBtn {
  position: relative;
  bottom: -2px;
}
#loginScreen #userfield {
  height: 45px;
  color: black;
}
#loginScreen #username {
  height: 45px;
  width: 46vw;
  border: 1px solid navy;
  text-align: center;
}
#loginScreen div {
  /* font-size: 2em; */
  margin-top: 15px;
}
#loginScreen #username-response {
  /* font-size: 55%; */
  padding: 10px 10px;
}
#loginScreen #username-response.good {
  color: green;
  background-color: rgba(255,255,255,0.6)
}
#loginScreen #username-response.bad {
  color: red;
  background-color: rgba(255,255,255,0.6)
}

#statusPanel {
  /* position: absolute;
  top: 0;
  left: 25px;
  width: 450px;
  height: 180px; */
  z-index: 10000;
  text-align: center;
  color: white;
  font-size: 56px;
  margin: 10vw 0 3vw;
}
#rulesPanel {
  /* position: absolute;
  top: 180px;
  left: 50px;
  width: 400px; */
  z-index: 1000;
  text-align: left;
  padding: 0px;
  color: white;
  font-size: 30px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 0 20vw;
}
#rulesPanel li {
  margin: 0px 15px 20px 20px;
}
#roomChooser {
  /* position: absolute;
  top: 100px;
  left: 0px;
  width: 500px; */
  z-index: 1000000;
  text-align: center;
  padding: 0px;
  font-size: 38px;
  display: none;
  color: white;
}
#roomChooser #intensity {
  text-shadow:
   -2px -2px 0 #FF0000,
    2px -2px 0 #FF0000,
    -2px 2px 0 #FF0000,
     2px 2px 0 #FF0000;
}
#roomChooser table {
  width: 100%;
  margin: 20px auto 0;
}
#roomChooser thead th {
  border-bottom: 2px solid white;
}
#roomChooser tbody td {
  padding: 10px;
}
#roomChooser tbody td:nth-child(2) {
  border-left: 2px solid white;
}
#roomChooser button {
  border: 1px solid white;
  border-radius: 8px;
  margin: 0;
  background-color: white;
  color: black;
}
#roomChooser button div {
  font-size: 36px;
  margin: 4px 7px;
  padding: 1vw;
}
#roomChooser tr:nth-child(4) button {
  width: auto;
}
#roomChooser button:hover {
  background-color: rgb(255,255,0);
}
button:focus, input[type='button']:focus {outline:0;}
#roomChooser #customText {
  display: none;
  height: 45px;
  margin-top: 10px;
  color: black;
}
#roomChooser #customRoomName {
  height: 45px;
  width: 150px;
  border: 1px solid navy;
  text-align: center;
}
#roomChooser input[type='button'], #loginScreen #setUserBtn {
  height: 45px;
  border: 1px solid navy;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  background-color: #D3D3D3;
  color: black;
}
#roomChooser input[type='button']:hover, #loginScreen #setUserBtn:hover {
  background-color: yellow;
}
#roomChooser span {
  font-size: 20px;
  margin-left: 9px;
  /*position: relative;*/
  /*bottom: 3px;*/
}
#bottomStatus {
  position: absolute;
  bottom: 4px;
  /* left: 0px; */
  /* height: 20px; */
  width: 100%;
  z-index: 10000;
  text-align: center;
  font-size: 25px;
  color: white;
  font-style: italic;
  letter-spacing: 3px;
  display: none;
}
#ticker {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: white;
  z-index: 10000000;
}
#muteunmute {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 25px;
  color: white;
  z-index: 10000000;
  background-image: url('../img/unmuted.png');
  background-repeat: no-repeat;
  background-position:  center;
}
#hiddenGameArea {
  background-image: url('');
}

#titleScreen {
  font-size: 40px;
  top: 30vw;
}
#titleScreen > * {
  position: absolute;
  left: 25px;
  width: 90vw;
  text-align: center;
  z-index: 10000000;
  color: white;
}
#titleScreen #circle-text {
  font-size: 80px;
  top: -80px;
}
#titleScreen #battle-text {
  font-size: 60px;
  bottom: -60px;
}
#titleScreen #battle-text {
  font-size: 60px;
  bottom: -60px;
}
#titleScreen #circle-battle-icon {
  display: none;
  top: 80px;
  z-index: 10000;
}
#titleScreen #beta {
  display: none;
  top: 270px;
  left: 80px;
  z-index: 1000000;
  font-size: 35px;
  color: yellow;
  border: 1px solid black;
  border-right-width: 0;
  border-radius: 10px 0 0 10px;
  background-color: rgba(255,255,0,0.4);
}
#userPanel {
  font-family: monospace;
  margin: 0 auto 20px;
  position: relative;
  background-color: lightyellow;
  top: -31px;
  left: 260px;
  width: 120px;
  box-shadow: 4px 4px 20px rgba(255,255,255,0.3);
  cursor: default;
  z-index: 0;
  line-height: 1.7;
}
#userPanel b {
  padding: 5px;
  display: inline-block;
  background-color: blue;
  color: white;
  margin: 5px;
}
#chatPanel {
  font-family: monospace;
  margin: 0 auto 20px;
  position: relative;
  top: 0px;
  left: 139px;
  width: 120px;
  overflow: hidden;
  /*box-shadow: 4px 4px 20px rgba(255,255,255,0.3);*/
  cursor: default;
  z-index: 1;
  display: none;
}
#chatPanel #chatArea {
  width: 100%;
  height: 100px;
  background-color: white;
  overflow-y: auto;
  margin: 0;
  text-align: left;
  font-size: 10px;
  padding: 4px;
}
#chatPanel #chatArea note {
  background-color: rgba(10,10,10,0.3);
  display: block;
  padding: 6px;
  font-size: 79%;
  margin: 6px 0 3px;
}
#chatPanel #msgText {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  border-width: 1px 0;
  padding: 2px;
}
#chatPanel input[type='submit'] {
  width: 100%;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background-color: white;
}
#usersAndColors {
  font-family: monospace;
  margin: 0 auto 20px;
  position: relative;
  /* top: 0px;
  left: 259px;
  width: 120px; */
  background-color: grey;
  overflow: hidden;
  /*box-shadow: 4px 4px 20px rgba(255,255,255,0.3);*/
  cursor: default;
  border-top: 1px solid black;
  z-index: 1;
  display: none;
}
#usersAndColors table {
  border-top: 0 !important;
  background-color: #eee;
}
#usersAndColors > div {
  display: none;
}
#usersAndColors table {
  width: 100%;
}
#usersAndColors tr {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#usersAndColors table div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

#usersAndColors table tr td:first-child {
  width: 50px;
  text-align: center;
  padding: 5px 0 5px 15px
}

#infoPanel {
  font-family: monospace;
  position: absolute;
  top: 103vw;
  width: 100%;
  background-color: grey;
  overflow: hidden;
  /*box-shadow: 4px 4px 20px rgba(255,255,255,0.3);*/
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  border-bottom: 1px solid black;
}
#infoPanel .buttons {
  font-size: 120%;
  padding: 1vw;
  display: flex;
  justify-content: space-evenly;
}
#infoPanel .buttons button {
  /* font-size: 15px; */
  line-height: 1.2;
  border: 0px;
  text-decoration: underline;
  padding: 0 20px;
}
#infoPanel table {
  width: 100%;
  border-top: 1px solid black;
  margin-left: -1px;
}
#infoPanel table td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#infoPanel table td:nth-child(2) {
  border-left: 1px solid black;
  min-width: 18vw;
}
#infoPanel table tr:last-child td {
  border-bottom-width: 0;
}
#infoPanel table tr:last-child td {
  border-bottom-width: 0;
}
#infoPanel table tr:nth-child(4) td:first-child {
  border-bottom-width: 0;
}
#streakGames, #streakPoints, #topGames, #topPoints {
  width: 70px;
}
#infoPanel table tr td button:first-child {
  border-bottom: 1px solid black;
}
#infoPanel table button:enabled {
  background-color: white;
}
#infoPanel table button:hover:enabled {
  background-color: yellow;
}
#infoPanel #colorBox {
  border: 1px solid black;
  margin: 4px auto;
  padding: 4px auto;
  width: 130px;
}
#below {
  font-family: monospace;
  position: absolute;
  top: 720px;
  width: 100%;
  margin: 0 auto 20px;
  display: none;
}
#below div {
  width: 550px;
  background-color: rgba(211,211,211,0.6);
  padding: 8px 12px;
  margin: 0 auto;
}
#below img {
  margin-top: 5px;
  width: 50;
}

.hider {
   visibility:hidden;
}
.watch-mode {
  background-color: white;
  color: black;
}
.blue-button {
  background-color: cyan !important;
}
