html, body {
  background-color: rgba(100,0,0,0.5);
  background-image: url('/img/back-pattern.png');
  text-align: center;
  height: 110%;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#gamearea, #hiddenGameArea {
  font-family: monospace;
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 500px;
  height: 500px;
  background-color: black;
  overflow: hidden;
  /*box-shadow: 4px 4px 20px rgba(255,255,255,0.3);*/
  cursor: default;
}
#gamearea {
  background-image: url('/img/asfalt-light.png');
  top: -400px;
}
.circle {
  background-color: orange;
  position: absolute;
  width: 0;
  height: 0;
}
#gamearea .circle {
  background-image: url('/img/dark-stripes-light.png');
}
#yourClicker {
  background-color: white;
  position: absolute;
  width: 0;
  height: 0;
  /*display: none;*/
  z-index: 10000000;
}
#highScorePanel {
  position: absolute;
  top: 500px;
  left: 50px;
  width: 400px;
  height: 450px;
  z-index: 10000000;
  text-align: center;
  padding: 40px 10px 0px;
  font-size: 18px;
  color: black;
  border-radius: 10px 10px 0 0;
  background-color: rgba(255,255,255,0.9);
}
#highScorePanel table {
  width: 100%;
}
#highScorePanel th, td {
  border: 1px solid black
}
#loginScreen {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 350px;
  z-index: 10000000;
  text-align: center;
  padding: 0px;
  font-size: 33px;
  display: none;
  color: white;
}
#loginScreen #setUserBtn {
  position: relative;
  bottom: 1px;
}
#loginScreen #userfield {
  height: 45px;
  color: black;
}
#loginScreen #username {
  height: 45px;
  width: 150px;
  border: 1px solid navy;
  text-align: center;
}
#loginScreen div {
  font-size: 18px;
  margin-top: 15px;
}
#statusPanel {
  position: absolute;
  top: 0;
  left: 25px;
  width: 450px;
  height: 180px;
  z-index: 100000000;
  text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 45px;
}
#rulesPanel {
  position: absolute;
  top: 180px;
  left: 46px;
  width: 400px;
  z-index: 100000000;
  text-align: left;
  padding: 0px;
  color: white;
  font-size: 23px;
  border: 3px solid white;
  border-radius: 20px;
}
#rulesPanel li {
  margin: 0px 15px 20px 20px;
}
#roomChooser {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  z-index: 1000000;
  text-align: center;
  padding: 0px;
  font-size: 33px;
  display: none;
}
#roomChooser ul {
  padding: 0;
}
#roomChooser button {
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 24px;
  background-color: white;
  padding: 2px 20px;
}
#roomChooser button:hover {
  background-color: rgb(255,255,0);
}
button:focus, input[type='button']:focus {outline:0;}
#roomChooser #customText {
  display: none;
  height: 45px;
}
#roomChooser li * {
  display: inline-block;
  vertical-align: middle;
}
#roomChooser #customRoomName {
  height: 45px;
  width: 150px;
  border: 1px solid navy;
  text-align: center;
}
#roomChooser input[type='button'], #loginScreen #setUserBtn {
  height: 45px;
  border: 1px solid navy;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  background-color: #D3D3D3;
}
#roomChooser input[type='button']:hover, #loginScreen #setUserBtn:hover {
  background-color: yellow;
}
#roomChooser span {
  font-size: 20px;
  margin-left: 9px;
  position: relative;
  bottom: 3px;
}
#bottomStatus {
  position: absolute;
  bottom: 4px;
  left: 0px;
  height: 20px;
  width: 500px;
  z-index: 100000000;
  text-align: center;
  font-size: 14px;
  color: white;
  font-style: italic;
  letter-spacing: 3px;
  display: none;
}
#ticker {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 15px;
  color: white;
  z-index: 10000000;
}

#hiddenGameArea {
  background-image: url('');
}

#titleScreen {
  font-size: 40px;
}
#titleScreen > * {
  position: absolute;
  left: 25px;
  width: 450px;
  text-align: center;
  z-index: 10000000;
  color: white;
}
#titleScreen #circle-text {
  font-size: 80px;
  top: -80px;
}
#titleScreen #battle-text {
  font-size: 60px;
  bottom: -60px;
}
#titleScreen #battle-text {
  font-size: 60px;
  bottom: -60px;
}
#titleScreen #circle-battle-icon {
  display: none;
  top: 80px;
  z-index: 10000;
}
#titleScreen #beta {
  display: none;
  top: 270px;
  left: 80px;
  z-index: 1000000;
  font-size: 35px;
  color: yellow;
  border: 1px solid black;
  border-right-width: 0;
  border-radius: 10px 0 0 10px;
  background-color: rgba(255,255,0,0.4);
}
#infoPanel {
  font-family: monospace;
  margin: 0 auto 20px;
  position: relative;
  top: -400px;
  width: 500px;
  background-color: grey;
  overflow: hidden;
  /*box-shadow: 4px 4px 20px rgba(255,255,255,0.3);*/
  cursor: default;
  border-radius: 0 0 10px 10px;
}
#infoPanel table {
  width: 100%;
}
#infoPanel table table {
  width: 300px;
}
#infoPanel table table td {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#infoPanel table table tr:last-child td {
  border-bottom-width: 0;
}
#infoPanel table table tr:last-child td {
  border-bottom-width: 0;
}
#infoPanel table table tr:nth-child(4) td:first-child {
  border-bottom-width: 0;
}
#streakGames, #streakPoints, #topGames, #topPoints {
  width: 70px;
}
#infoPanel table button {
  line-height: 1.2;
  margin: 10px 0 0;
  border: 1px solid black;
}
#infoPanel table button:enabled {
  background-color: white;
}
#infoPanel table button:hover:enabled {
  background-color: yellow;
}
#infoPanel #colorBox {
  border: 1px solid black;
  margin: 4px auto;
  padding: 4px auto;
  width: 130px;
}


.hider {
   visibility:hidden;
}
.watch-mode {
  background-color: white;
  color: black;
}
